html, body {
	padding: 0;
	margin: 0;
}

.codeArea {
	min-height: 300px;
	width: 49.8%;
	border: 1px solid black; 
	margin: 0;
	padding: 0;
}

#inputCodeArea {
	float: left;
	white-space: pre-wrap;
}

#outputCodeArea {
	float: right;
}
