html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

main {
	min-width:600px;
	height: 92%;
	display: float;
	flex-flow: row wrap;
}


.codeArea {
	min-width: 300px;
	width: 48.8%;
	height: 100%;
	border: 1px solid black;
	margin: 4px;
	padding: 0;
	font-family: monospace;
	overflow: auto;
}

#inputCodeArea {
	float: left;
	white-space: pre-wrap;
	margin-left:0.5%;
}

#outputCodeArea {
	float: right;
	margin-right:0.5%;
}

.keyword {
	color: blue;
}

.simpleOptions {
	margin-left: 2px;
	margin-right: 2px;
	border-right: 1px solid black;
}
.simpleOptions:last-of-type {
	border-right: 0px;
}

#outputCodeArea .highLevelCode {
	color: #006400;
}

.error {
	color: red;
	font-weight: bold;
}

.warning {
	color: #AAD1B7;
	font-weight: bold;
}
